@import url('https://fonts.googleapis.com/css?family=Jaldi&display=swap');

html {
    margin: 0;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    margin: 0;
    height: 100%;
    font-family: Jaldi, sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #14100c;
    color: #a0a0a0;
}

p {
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

h1, h2 {
    margin-block-start: 1.0em;
    margin-block-end: 0.0em;
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    display: flex;
    background-color: #303030;
    background-image: url("./img/header.png");
    height: 40px;
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#render-container {
    display: flex;
    flex-grow: 1;
    background-color: black;
}

.button {
    width: 80px;
    height: 40px;
    cursor: pointer;
}

#button-load {
    margin: 0 0 0 10px;
    background-image: url("./img/load.png");
}

#button-load:hover {
    background-image: url("./img/load-hover.png");
}

#button-run {
    background-image: url("./img/play.png");
}

#button-run:hover {
    background-image: url("./img/play-hover.png");
}

#button-stop {
    background-image: url("./img/stop.png");
}

#button-stop:hover {
    background-image: url("./img/stop-hover.png");
}

.disabled {
    filter: grayscale(100%);
}

#github {
    margin: 4px 10px 0 4px;
}

.side-panel {
    display: none;
    background-color: #202020;
    width: 400px;
    height: 100%;
    overflow: auto;
    padding: 0 16px 0 16px;
}

#button-info-panel {
    background-image: url("./img/info.png");
    margin: 4px 4px 0 auto;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#files {
    display: none !important;
}

#color-picker-on,
#color-picker-off {
    height: 32px;
    vertical-align: middle;
}